<h2 mat-dialog-title>Editar Producto</h2>
<mat-dialog-content>
  <form [formGroup]="productForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input
            formControlName="sku"
            matInput
            maxlength="11"
            placeholder="Sku"
            type="string"
          />
          <mat-hint>Ej: FAL-#######</mat-hint>
          <mat-error *ngIf="productForm.get('sku')?.errors">
            <ng-container *ngIf="productForm.get('sku')?.hasError('required')">
              Debe ingresar un sku valido.
            </ng-container>
            <ng-container
              *ngIf="
                productForm.get('sku')?.hasError('minlength') ||
                productForm.get('sku')?.hasError('maxlength')
              "
            >
              Debe ingresar 11 cáracteres. Ej: FAL-#######.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <input
            formControlName="name"
            placeholder="Nombre"
            type="string"
            matInput
          />
          <mat-error *ngIf="productForm.get('name')?.hasError('required')">
            Debe ingresar un nombre.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-select formControlName="brand" placeholder="Marca">
            <mat-option *ngFor="let item of brands" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('brand')?.hasError('required')">
            Debe seleccionar una marca.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field appearance="outline">
          <mat-select formControlName="size" placeholder="Talla">
            <mat-option *ngFor="let item of sizes" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('size')?.hasError('required')">
            Debe seleccionar una talla.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <input
            formControlName="price"
            placeholder="Precio"
            type="number"
            matInput
          />
          <mat-error *ngIf="productForm.get('price')?.hasError('required')">
            Debe ingreasr un precio.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field appearance="outline">
          <mat-select formControlName="imageUrl" placeholder="Imagen">
            <mat-option *ngFor="let item of images" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('imageUrl')?.hasError('required')">
            Debe seleccionar una imagen.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancelar</button>
  <button
    (click)="submitForm(productForm.value)"
    [disabled]="productForm.invalid"
    [ngClass]="'cust-button-submit'"
    color="primary"
    mat-flat-button
  >
    <ng-container [ngSwitch]="sendingData">
      <ng-container *ngSwitchCase="false">Editar</ng-container>
      <ng-container *ngSwitchCase="true">
        <mat-spinner diameter="20" [ngClass]="'cust-mat-spinner'"></mat-spinner>
      </ng-container>
    </ng-container>
  </button>
</mat-dialog-actions>
