<div class="box-content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <mat-card>
          <h1 class="card-title text-center">Inicio de Sesión</h1>
          <div class="box-card-action">
            <button
              (click)="onLogIn()"
              color="primary"
              mat-flat-button
              type="button"
            >
              Iniciar Sesión
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
