::ng-deep form .mat-form-field-appearance-outline {
  width: 100%;
}

::ng-deep form .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.7em 0;
  top: -0.25em;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0 121 200 / 12%);
}

::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: initial !important;
}

.cust-button-submit {
  align-items: center;
  border-radius: 3px;
  display: flex;
  height: 38px;
  justify-content: center;
  max-width: 110px;
  width: 110px;
}

.cust-button-submit[disabled] {
  background-color: #a8a7a4;
  border: 1px solid #a8a7a4;
  cursor: not-allowed;
}

::ng-deep .cust-mat-spinner circle,
.cust-mat-spinner circle {
  stroke: #fff;
}
